<div class="button-row">
  <a mat-raised-button color="primary" [routerLink]="['/apartamentos']"><mat-icon>list</mat-icon></a>
</div>

  
<mat-card class="example-card">
  <mat-card-content>
    <dl>
      <dt>Qntd. quartos: {{apartamento.quartos}}</dt>
      <dt>Qntd. suítes: {{apartamento.suites}}</dt>
      <dt>Qntd. de salas de Estar: {{apartamento.sala_estar}}</dt>
      <dt>Qntd. de salas de Jantar: {{apartamento.sala_jantar}}</dt>
      <dt>Nro de vagas na garagem: {{apartamento.vagas}}</dt>
      <dt>Área (em metros quadrados): {{apartamento.area}}</dt>
      <dt>Possui armário embutido: {{getBoolValue(apartamento.armario_embutido)}}</dt>
      <dt>Descrição: </dt>
      <dd>{{apartamento.descricao}}</dd>
      <dt>Andar: {{apartamento.andar}} andar (Apto {{apartamento.apto}})</dt>
      <dt>Valor do condomínio: R$ {{apartamento.valorcondominio}}</dt>
      <dt>Portaria 24 horas: {{getBoolValue(apartamento.portaria24h)}}</dt>

      <dt>Endereço Completo: {{apartamento.rua}},{{apartamento.numero}}</dt>
      <dt>Bairro: {{apartamento.endereco.bairro}}</dt>
      <dt>Cidade: {{apartamento.endereco.cidade}}-{{apartamento.endereco.siglaestado}}</dt>
      <dt>Valor do aluguel: R$ {{apartamento.valoraluguel}}</dt>
    </dl>
  </mat-card-content>
  <mat-card-actions>
    <a mat-raised-button color="primary" [routerLink]="['/apartamento-edit', apartamento._id]"><mat-icon>edit</mat-icon></a>
    <a mat-raised-button color="warn" (click)="deleteApartamento(apartamento._id)"><mat-icon>delete</mat-icon></a>
  </mat-card-actions>
</mat-card>
