<div class="button-row">
  <a mat-raised-button color="primary" [routerLink]="['/apartamentos']"><mat-icon>list</mat-icon></a>
</div>

  
<mat-card class="example-card">
  <mat-card-content>
    <dl>
      <dt>Quartos:</dt>
      <dd>{{apartamento.quartos}}</dd>
      <dt>Suítes:</dt>
      <dd>{{apartamento.suites}}</dd>
      <dt>Sala de Estar:</dt>
      <dd>{{apartamento.sala_estar}}</dd>
      <dt>Sala de Jantar:</dt>
      <dd>{{apartamento.sala_jantar}}</dd>
      <dt>Vagas:</dt>
      <dd>{{apartamento.vagas}}</dd>
      <dt>Área:</dt>
      <dd>{{apartamento.area}}</dd>
      <dt>Armário Embutido:</dt>
      <dd>{{apartamento.armario_embutido}}</dd>
      <dt>Portaria 24 horas:</dt>
      <dd>{{apartamento.portaria24h}}</dd>
      <dt>Descrição:</dt>
      <dd>{{apartamento.descricao}}</dd>
      <dt>Andar:</dt>
      <dd>{{apartamento.andar}}</dd>
      <dt>Valor do condomínio:</dt>
      <dd>{{apartamento.valorcondominio}}</dd>
      <dt>Bairro:</dt>
      <dd>{{apartamento.endereco.bairro}}</dd>
    </dl>
  </mat-card-content>
  <mat-card-actions>
    <a mat-raised-button color="primary" [routerLink]="['/apartamento-edit', apartamento._id]"><mat-icon>edit</mat-icon></a>
    <a mat-raised-button color="warn" (click)="deleteApartamento(apartamento._id)"><mat-icon>delete</mat-icon></a>
  </mat-card-actions>
</mat-card>
